@model netcore.Models.Invent.VendorPayment
@{
    ViewData["Title"] = "Διαγραφή";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-money";
    ViewData["DeleteInfo"] = "Διαγράφοντας μία Είσπραξη γίνετε αυτόματα αλλαγή του υπολοίπου στο Τιμολόγιο.";
    ViewData["IsCanDeleted"] = true;

}
@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CashRepository)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CashRepository.CashRepositoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.paymentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paymentType.PaymentTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.purchaseOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.purchaseOrder.purchaseOrderId)
        </dd>
    </dl>
</div>
