@model IEnumerable<netcore.Models.Invent.CustomerLine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
}


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.street1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.street1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.customerLineId"><i class="fa fa-pencil"></i></a> |
                <a asp-action="Details" asp-route-id="@item.customerLineId"><i class="fa fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.customerLineId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
