@model IEnumerable<netcore.Models.Invent.CashRepository>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-google-wallet";
    ViewData["ListTitle"] = "Λίστα Ταμείων";
    ViewData["IndexInfo"] = "Ταμείο είναι ο χώρος αποθήκευσης χρημάτων.  Ταμείο υπάρχει όπου γίνονται συναλλαγές για λογαριασμό της εταιρίας.";
}

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CashRepositoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalReceipts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPayments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalEmployeePayments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCashflowIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCashflowOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.CashRepositoryId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.CashRepositoryId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CashRepositoryId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashRepositoryName)
            </td>
            <td>
                <a asp-controller="PaymentReceive" asp-action="Index" asp-route-id="@item.CashRepositoryId">@Html.DisplayFor(modelItem => item.TotalReceipts)</a>
            </td>
            <td>
                <a asp-controller="VendorPayment" asp-action="Index" asp-route-id="@item.CashRepositoryId">@Html.DisplayFor(modelItem => item.TotalPayments)</a>
            </td>
            <td>
                <a asp-controller="EmployeePayment" asp-action="Index" asp-route-id="@item.CashRepositoryId">@Html.DisplayFor(modelItem => item.TotalEmployeePayments)</a>
            </td>
            <td>
                <a asp-controller="CashflowIn" asp-action="Index" asp-route-id="@item.CashRepositoryId">@Html.DisplayFor(modelItem => item.TotalCashflowIn)</a>
            </td>
            <td>
                <a asp-controller="CashflowOut" asp-action="Index" asp-route-id="@item.CashRepositoryId">@Html.DisplayFor(modelItem => item.TotalCashflowOut)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
        </tr>
        }
    </tbody>
</table>
