@model netcore.Models.Invent.NumberSequence

@{
    ViewData["Title"] = "Διαγραφή";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
    ViewData["DeleteInfo"] = "Οι σειρές αριθμών που διαγράφονται, δημιουργούνται εκ νέου από τον αριθμό 1 με την δημιουργία νέων εγγραφών.";
    ViewData["IsCanDeleted"] = true;
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberSequenceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberSequenceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Module)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyProperty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyProperty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>
    </dl>

</div>
