@model netcore.Models.Invent.NumberSequence

@{
    ViewData["Title"] = "Λεπτομέρειες";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
}



<div>
    <h4>NumberSequence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberSequenceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberSequenceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Module)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyProperty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyProperty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>
    </dl>
</div>
<div class="box-footer">
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.NumberSequenceId" class="btn btn-primary">Επεξεργασία</a>
        <a asp-action="Index" class="btn btn-default">Επιστροφή στην λίστα</a>
    </div>
</div>
