@model IEnumerable<netcore.Models.Invent.NumberSequence>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
    ViewData["ListTitle"] = "Σειρές Αριθμών";
    ViewData["IndexInfo"] = " Οι σειρές αριθμών χρησιμοποιούνται για την αρίθμηση των διαφόρων παραστατικών της εταιρίας.";
}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.NumberSequenceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyProperty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.NumberSequenceId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.NumberSequenceId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.NumberSequenceId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NumberSequenceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyProperty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
        </tr>
        }
    </tbody>
</table>
