@model IEnumerable<netcore.Models.Invent.CashflowOut>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-exchange";
    ViewData["ListTitle"] = "Λίστα Ταμειακών Εκροών";
    ViewData["IndexInfo"] = "Με τον όρο ταμειακή εκροή εννοούμε την αποστολή χρημάτων σε ένα άλλο ταμείο.";
}

<table  class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CashflowOutNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashflowOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashRepositoryIdFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashRepositoryIdTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneyTransferOrder)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.CashflowOutId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.CashflowOutId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CashflowOutId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashflowOutNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashflowOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashRepositoryIdFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashRepositoryIdTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoneyTransferOrder.MoneyTransferOrderId)
            </td>
        </tr>
        }
    </tbody>
</table>
