@model IEnumerable<netcore.Models.Invent.PaymentType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-get-pocket";
    ViewData["ListTitle"] = "Λίστα Τρόπων Είσπραξης";
    ViewData["IndexInfo"] = "Η Λίστα περιέχει όλους τους Τρόπους Είσπραξης";
}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.PaymentTypeId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.PaymentTypeId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.PaymentTypeId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PaymentTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
        </tr>
        }
    </tbody>
</table>
