@model netcore.Models.Invent.Shipment

@{
    Layout = "_AdminlteNetcore";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Αποστολή / Παραγγελία Παράδοσης
            <small>@Model.shipmentNumber</small>
        </h1>

    </section>
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Σημείωση:</h4>
            Αυτή η σελίδα έχει βελτιωθεί για εκτύπωση. Κάντε κλικ στο κουμπί εκτύπωσης στο κάτω μέρος για εκτύπωση.
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice" style="background-image:url('/../../images/COMPANY_background.png')">
        <div class="row">
            <table style="width:100%">
                <tr>
                    <td>
                        <div class="col-sm-4">
                            <img src="~/images/LOGO.png" alt="" title="" />
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-4 invoice-col">
                            <h5>Επωνυμία:@Model.branch.branchName</h5>
                            <h5>@Model.branch.description</h5>
                            <h5>Διεύθυνση:@Model.branch.street1</h5>
                            <h5>Ταχ. Κωδ.:@Model.branch.PostalCode</h5>
                            <h5>Πόλη:@Model.branch.city</h5>
                        </div>
                        <div class="col-sm-4 invoice-col pull-right-container">
                            <h5>Τηλ:@Model.branch.OfficePhone</h5>
                            <h5>Fax:@Model.branch.Fax</h5>
                            <h5>E-Mail:@Model.branch.email</h5>
                            <h5>Α.Φ.Μ.:@Model.branch.VATNumber</h5>
                            <h5>Εφορία:@Model.branch.TaxOffice</h5>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- /.col -->
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead style="background-color:lavender">
                        <tr>
                            <th>Είδος Παραστατικού</th>
                            <th>Αριθμός</th>
                            <th>Συνεργάτης</th>
                            <th>Ημερομηνία</th>
                            <th>Ώρα</th>
                        </tr>
                    </thead>
                    <tbody style="border-bottom:groove;">
                        <tr>
                            <td><strong>Δελτίο Αποστολής</strong></td>
                            <td>@Model.shipmentNumber</td>
                            <td>@Model.Employee.DisplayName</td>
                            <td>@Model.shipmentDate.ToString("dd-MMM-yyyy")</td>
                            <td>@Model.shipmentDate.ToString("hh:mm") </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-6">
                Για Πελάτη / Διεύθυνση Παράδοσης<br>
                <strong>@Model.customer.customerName</strong><br>
                @Model.customer.CustomerLine.FirstOrDefault().street1<br>
                @Model.customer.CustomerLine.FirstOrDefault().city<br>
                @Model.customer.CustomerLine.FirstOrDefault().country<br>
            </div>
            <div class="col-sm-6 pull-right-container">
                <b>Αρ. Παραγγελίας:</b> @Model.salesOrder.salesOrderNumber<br>
                <b>Ημ. Παραγγελίας:</b> @Model.salesOrder.soDate.ToString("dd-MMM-yyyy")<br>
                <b>Α.Φ.Μ.:</b> @Model.customer.VATRegNumber<br>
                <b>Εφορία:</b> @Model.customer.TaxOffice<br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ποσ</th>
                            <th>Προϊόν</th>
                            <th>Περιγραφή</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.shipmentLine)
                        {
                            <tr>
                                <td>@item.product.productCode</td>
                                <td>@item.qty</td>
                                <td>@item.product.description</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
                <p class="lead">Περιγραφές:</p>
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    @Model.salesOrder.description
                </p>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
            </div>
            <!-- /.col -->
        </div>
        <div class="row no-print">
            <div class="col-xs-12">

                <a href="@Url.Action("PrintDeliveryOrder", new { id = Model.shipmentId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Εκτύπωση</a>

            </div>
        </div>
    </section>
    <div class="clearfix"></div>
</div>
