@model netcore.Models.Invent.Shipment

@{
    Layout = "_AdminlteNetcore";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Αποστολή / Παραγγελία Παράδοσης
            <small>@Model.shipmentNumber</small>
        </h1>

    </section>
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Σημείωση:</h4>
            Αυτή η σελίδα έχει βελτιωθεί για εκτύπωση. Κάντε κλικ στο κουμπί εκτύπωσης στο κάτω μέρος για εκτύπωση.
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> Παραγγελία παράδοσης:
                    <small class="pull-right">Ημερομηνία: @Model.shipmentDate.ToString("dd-MMM-yyyy")</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                Από
                <address>
                    <strong>@Model.salesOrder.branch.branchName</strong><br>
                    @Model.salesOrder.branch.street1<br>
                    @Model.salesOrder.branch.city<br>
                    attn: @Model.salesOrder.picInternal
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                Για Πελάτη / Διεύθυνση Παράδοσης
                <address>
                    <strong>@Model.customer.customerName</strong><br>
                    @Model.customer.CustomerLine.FirstOrDefault().street1<br>
                    @Model.customer.CustomerLine.FirstOrDefault().city<br>
                    @Model.customer.CustomerLine.FirstOrDefault().country<br>
                    attn: @Model.salesOrder.picCustomer
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>Αριθμός SO</b> @Model.salesOrder.salesOrderNumber<br>
                <b>Αριθμός DO</b> @Model.shipmentNumber<br />
                <b>Ημερομηνία SO:</b> @Model.salesOrder.soDate.ToString("dd-MMM-yyyy")<br>
                <b>Ημερομηνία DO:</b> @Model.shipmentDate.ToString("dd-MMM-yyyy")<br>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ποσ</th>
                            <th>Προϊόν</th>
                            <th>Περιγραφή</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.shipmentLine)
                        {
                        <tr>
                            <td>@item.product.productCode</td>
                            <td>@item.qty</td>
                            <td>@item.product.description</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
                <p class="lead">Περιγραφές:</p>
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    @Model.salesOrder.description
                </p>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">

                <a href="@Url.Action("PrintDeliveryOrder", new { id = Model.shipmentId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Εκτύπωση</a>

            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
<!-- /.content-wrapper -->
