@model IEnumerable<netcore.Models.Invent.City>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-building";
    ViewData["ListTitle"] = "Λίστα Πόλεων";
    ViewData["IndexInfo"] = "Η Λίστα περιέχει όλες τις πόλεις της Ελλάδος αλλά και αυτές του εξωτερικού εφόσον έχουν γίνει συναλλαγές";
}

<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductVAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.CityId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.CityId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CityId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductVAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
        </tr>
        }
    </tbody>
</table>
