@model netcore.Models.Invent.ProductionOrder

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Εκτυπώστε την παραγγελία Παραγωγής</title>
</head>
<body onload="window.print();">
    <div class="wrapper">
        <!-- Main content -->
        <section class="invoice" style="background-image:url('/../../images/kaffa_background.png')">
            <div class="row">
                <table style="width:100%">
                    <tr>
                        <td>
                            <div class="col-md-4 invoice-col">
                                <img src="~/images/LOGO.png" alt="" title="" />
                            </div>
                        </td>
                        <td>
                            <div class="col-md-4 invoice-col">
                                <h5>Επωνυμία: @Model.branch.branchName</h5>
                                <h5>@Model.branch.description</h5>
                                <h5>Διεύθυνση: @Model.branch.street1</h5>
                                <h5>Ταχ. Κωδ.: @Model.branch.PostalCode</h5>
                                <h5>Πόλη: @Model.branch.city</h5>
                            </div>
                            <div class="col-md-4 invoice-col pull-right-container">
                                <h5>Τηλ: @Model.branch.OfficePhone</h5>
                                <h5>Fax: @Model.branch.Fax</h5>
                                <h5>E-Mail: @Model.branch.email</h5>
                                <h5>Α.Φ.Μ.: @Model.branch.VATNumber</h5>
                                <h5>Εφορία: @Model.branch.TaxOffice</h5>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- /.col -->
            </div>
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead style="background-color:lavender">
                            <tr>
                                <th>Είδος Παραστατικού</th>
                                <th>Αριθμός</th>
                                <th>Συνεργάτης</th>
                                <th>Ημερ. Παραγγελίας</th>
                                <th>Ημερ. Παραγωγής</th>
                            </tr>
                        </thead>
                        <tbody style="border-bottom:groove;">
                            <tr>
                                <td><strong>Παραγγελία Παραγωγής</strong></td>
                                <td>@Model.ProductionOrderNumber</td>
                                <td>@Model.Description</td>
                                <td>@Model.ProductionOrderDate.ToString("dd-MMM-yyyy")</td>
                                <td>@Model.RequiredDeliveryDate.ToString("hh:mm") </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ποσ</th>
                                <th>Προϊόν</th>
                                <th>Περιγραφή</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProductionOrderLine)
                            {
                                <tr>
                                    <td>@item.Qty</td>
                                    <td>@item.Product.productCode</td>
                                    <td>@item.Product.description</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <div class="row">
                <!-- accepted payments column -->
                <div class="col-md-6">
                    <p class="lead">Σημειώσεις:</p>
                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                        @Model.Description
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-md-6">

                </div>
                <!-- /.col -->
            </div>
        </section>
    </div>
    @Html.Partial("_AdminlteNetcoreBasicStyles")
    @Html.Partial("_AdminlteNetcoreBasicScripts")
</body>
</html>
